<div ng-controller="asyncSelectController" class="form-group {{form.htmlClass}}" ng-class="{'has-error': hasError(), 'has-success': hasSuccess()}">
    <label class="{{form.labelHtmlClass}}" ng-show="showTitle()">{{form.title}}</label>
    <div class="form-group {{form.fieldHtmlClass}}" ng-init="populateTitleMap(form)">
        <button ng-if="!((form.options.multiple == 'true') || (form.options.multiple == true))" type="button" class="grey lighten-5 black-text btn-sm btn"
        sf-changed="form" ng-model="$$value$$" schema-validate="form" data-placeholder="{{form.placeholder || form.schema.placeholder || ('placeholders.select')}}"
        data-html="1" ng-disabled="!form.titleMap.length" bs-options="item.value as item.name for item in form.titleMap | selectFilter:this:$$value$$:&quot;$$value$$&quot;"
        bs-select>
        </button>
        <md-progress-linear md-mode="indeterminate" style="height:3px;overflow:hidden" ng-if="form.loading"></md-progress-linear>
        <div class="help-block" ng-if="hasError()" sf-message="(form.description || 'Required')"></div>
    </div>
</div>